.contact{
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
    margin-top: 2%;
}

.contact-box{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/Background/altumcode-XMFZqrGyV-Q-unsplash.jpg');
    /* background-image: linear-gradient(rgba(4,9,12,0.65),rgba(4,9,30,0.7)) , url('../Images/Background/altumcode-XMFZqrGyV-Q-unsplash.jpg'); */
    background-size:contain;
    background-repeat: no-repeat;
    border: none solid white;
    /* height: 100px; */
} 

.contact-form{
    border: none;
    padding: 25px;
    height: 450px;
    width: 500px;
}

.contact-heading{
    text-align: center;
}

.contact-heading h3{
    color: #ff365a;
}

.contact-heading h1{
    font-size: 1.6rem;
}


label{
    font-size: 19px;
}

.media-icon{
    box-sizing: border-box;
    width: 300px;
    height: 150px;
    padding: 12%;
    margin: 3%;
    background-color: #111111;
    text-align: center;
    border-radius: 5px;
}

.media-icon a {
    color: #ff365a; 
    text-decoration: none;
}

.media-icon img{
    height: 35px;
}

.media-icon:hover{
    -webkit-box-shadow:0 0 5px 2px #ff365a;
    -moz-box-shadow: 0 0 5px 2px #ff365a;
    box-shadow: 0 0 5px 2px #ff365a;
    transition: 0.2s;
}

input[type=text]{
    color: white;
    height: 25px;
    width: 300px;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    text-decoration: none;
    border-radius: 5px;
    background: transparent;
    border: 0.5px solid white;
    font-size: 17px;
}


input[type=email]{
    color: white;
    height: 25px;
    width: 300px;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    text-decoration: none;
    border-radius: 5px;
    background: transparent;
    border: 0.5px solid white;
    font-size: 17px;
}

#message{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 250px;
    width: 450px;
    padding: 12px;
    margin-top: 6px;
    /* margin-bottom: 16px; */
    text-decoration: none;
    border-radius: 5px;
    background: transparent;
    border: 0.5px solid white;
    font-size: 17px;
    resize: none;
}

button{
    background-color: #ff365a;
    margin-top: 5px;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 12px;
    font-size: 17px;
}