*{
    margin: 0;
    padding: 0;
    color: whitesmoke;
    
}
 
html{
    scroll-behavior: smooth;
    background-color: black; 
}

:root {
  touch-action: pan-x pan-y;
  height: 100% 
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    touch-action: manipulation;
}

.header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,12,0.5),rgba(4,9,30,0.7)),url('../Images/Background/back.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    
}

.header img{
    height: 50px;
    padding-top: 10px;
    padding-left: 13px;
}

/* .header{
    display: block;
    justify-content: space-between;
} */

.nav-list{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style-type: none;
    margin-right: 5px;
}

li a {
    text-decoration: none;   
    /* font-weight: bold; */
}

nav ul li{
    padding: 18px 17px;
    height: 100%;
    font-size: 18px;
}

.intro{
    /* text-align: center; */
    display: block;
    padding-top: 10em;
    padding-left: 5rem;
}

.intro h3{
    /* padding:20px */
    font-size: 1.5em;
}

.intro h2{
    color: #ff365a;
    font-size: 2em;
}