*{
    margin: 0;
    padding: 0;
    color: whitesmoke;
    
}

a{
    text-decoration: none;
}
 
html{
    scroll-behavior: smooth;
    background-color: black; 
}

:root {
  touch-action: pan-x pan-y;
  height: 100% 
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    touch-action: manipulation;
}

.header{
    min-height: 100vh;
    /* background-image: linear-gradient(rgba(4,9,12,0.5),rgba(4,9,30,0.7)),url('../Images/Background/back.jpeg'); */
    background-image: linear-gradient(rgba(4,9,12,0.65),rgba(4,9,30,0.7)),url('../Images/Background/back.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    /* background-attachment: fixed; */
}

/* .nav-list{
     position: fixed;
    top: 0; 
    top: 0;
    display: flex;
    justify-content: space-between;
} */

.header img{
    height: 43px;
    padding-top: 10px;
    padding-left: 13px;
}

.nav-list{
    /* position: sticky;
    top: 0;
    z-index: 100; */
    display: flex;
    justify-content: space-between;

}

nav ul{
    display: flex;
    list-style-type: none;
    margin-right: 5px;
}

nav ul li{
    padding: 18px 17px;
    height: 100%;
    font-size: 18px;
}

li a:hover{
    color: #ff365a;
}

.intro{
    display: block;
    padding-top: 8em;
    padding-left: 5rem;
}

.intro h1{
    font-size: 2.4em;
}

.intro span{
    color: #ff365a;
}

.intro h3{
    font-size: 1.75em;
    margin-top: 1.5%;
}

.intro h2{
    color: #ff365a;
    font-size: 2em;
}

.intro p{
    font-size: 1.5em;
}

.btns-container{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    border: 2px none #ff365a;
    max-width: 500px;
}

.btns-container p{
    display: inline;
    padding: 20px;
    border: 3px solid #ff365a;
    border-radius: 50px;
}

.btns-container p:hover{
    background-color: #ff365a;
}




/* Animations part  */

/* .intro p , h2 , h3 , h1 {
    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 1.3s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px); 
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
} */



/* .about{
    padding: 40px 40px;
} */

.about-title span{
    color: #ff365a;
}