.projects{
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid red;
    height: 500px;
}

.projects .heading h3{
    color: #ff365a;
}

.previous-work{
    display: grid;
    grid-template-rows: repeat(3,50px);
    grid-template-columns: repeat(3,50px);
    justify-content: space-between;
    row-gap: 10px;
}

.work{
    border:2px solid cyan;
    /* height: 300px; */

}