.heading{
    text-align: center;
}

.services .heading h3{
    color: #ff365a;
}

.services{
    border: 2px solid green;
}


.services-box{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.service{
    border: 0px solid red;
    height: 280px;
    width: 330px;
    background-color: #1e1e1e;
    /* background-color: #111111; */
    text-align: center;
}


/* .service div{
    margin-top: 25%;
    margin-bottom: 5%;
} */

.service p{
    color: #ff365a;
}

.service>div{
    margin-top: 25%;
    
}


.popup-wrapper{
    display: none;
    /* background: rgb(0,0,0,1); */
    /* background: rgb(0,0,0,0.7); */
    background-color: #040D12;
    /* background-color:brown; */

    position: fixed;
    top: -25%;
    left: 35%;
    width: 30%;
    height: 50%;
}

.popup-close{
    position: absolute;
    right: 15px;
    top: 10px;
    float: right;
    font-size: 1.2em;
    cursor: pointer;
}

.popup-content{
    /* border: 2px solid cyan; */
    /* padding: 10%; */
    margin-top: 5%;
    text-align: center;

}

.popup{
    cursor: pointer;
}

.popup-content div{
    text-align: justify;
    padding-top: 6%;
    padding-left: 4%;
}

.popup-heading h3{
    text-align: center;
}